############### APP ##################

node_modules

src/**/*.js
src/**/*.js.map

############## .IDEA #################

**/.idea/workspace.xml
**/.idea/markdown-exported-files.xml
**/.idea/markdown-navigator.xml
**/.idea/tasks.xml